%section#booking
  .white-background
    .container.content-section
      .row.text-center
        %h3 Choose wisely, young Padawan!
        %br
      .row
        .col-sm-4.text-center
          %a{ :href => "https://bookeo.com/catmosphere", target: "_blank" } 
            = image_tag('catroom.jpg', class: 'img-responsive')
            %br
            %h4.text-center Coffee & Cookies with the Catstronauts
          %p.text-center
            Enjoy a coffee/hot drink from some of Sydney's best baristas while spending time with the galaxy's bravest space cats, then top it all off with a cat-shaped cookie.
            %br
            %br
            :plain
                <a href="http://bookeo.com/catmosphere?type=233JERJPT15030CAAFC3" style="margin:0;padding:0;" target="_blank"><img src="https://www.bookeo.com/buttons/book_en.png" alt="book now" border="0" style="margin:0;padding:0"></a>
        .col-sm-4.text-center
          %a{href: "https://bookeo.com/catmosphere", target: "_blank"}
            = image_tag('kitten.jpg', class: 'img-responsive')
            %br
            %h4.text-center Coffee with the Kitten Cadets (Adoption Program)
          %p.text-center
            Sip on a hot drink of your choosing while cuddling with some of the fiercest adoptable kitten cadets the universe has ever seen!
            %br
            %br
            :plain
                <a href="http://bookeo.com/catmosphere?type=233NUHWJA14FAF4552EC" style="margin:0;padding:0;" target="_blank"><img src="https://www.bookeo.com/buttons/book_en.png" alt="book now" border="0" style="margin:0;padding:0"></a>
          %br
        .col-sm-4.text-center
          %a{href: "https://bookeo.com/catmosphere", target: "_blank"}
            = image_tag('catyoga.jpg', class: 'img-responsive')
            %br
            %h4.text-center Yoga with the Catstronauts
          %p.text-center
            City life stressing you out? Never fear, cat yoga is here! This special event consists of 45 mins of yoga followed by 15 mins of kitty cuddle time!
            %br
            %br
            :plain
                <a href="http://bookeo.com/catmosphere?type=2333EXCAN150D4E01171" style="margin:0;padding:0;" target="_top"><img src="https://www.bookeo.com/buttons/book_en.png" alt="book now" border="0" style="margin:0;padding:0"></a>
      .row
        .col-sm-2.text-center
        .col-sm-4.text-center
          %a{href: "https://bookeo.com/catmosphere", target: "_blank"}
            = image_tag('trivia.jpg', class: 'img-responsive')
            %br
            %h4.text-center Cat Trivia
          %p.text-center
            Ready to unleash your inner cat crazy? Come to Cat Trivia, Thursday nights at Catmosphere. Featuring only cat-egories of the feline kind. Teams or individuals welcome.
            %br
            %br
            :plain
                <a href="http://bookeo.com/catmosphere?type=233T6W6RJ151339DE555" style="margin:0;padding:0;" target="_top"><img src="https://www.bookeo.com/buttons/book_en.png" alt="book now" border="0" style="margin:0;padding:0"></a>
        .col-sm-4.text-center
          = image_tag('yours.jpg', class: 'img-responsive')
          %br
          %h4.text-center Space Cat Tees
          %p.text-center
            In case you can't be bothered to visit the café, you can still get awesome t-shirts and other space cat articles in our web shop.
            %br
            %br
            .small
              Coming soon
          // Check out our products for cat lovers and help support cats in need.

