%section#booking
  .white-background.text-center
    .container
      %h3 Choose a Package
      %br
      .row
        .col-sm-4.text-center
          %a{ :href => "http://bookeo.com/catmosphere?type=233JERJPT15030CAAFC3", target: "_blank" } 
            = image_tag('catroom.jpg', class: 'img-responsive')
            %br
            %h4.text-center Coffee & Cookies with the Catstronauts
          %p.text-center
            Enjoy a hot drink from some of Sydney's best baristas while spending time with the galaxy's bravest space cats, then top it all off with a cat-shaped cookie.
            %br
            %br
            :plain
                <a href="http://bookeo.com/catmosphere?type=233JERJPT15030CAAFC3" style="margin:0;padding:0;" target="_blank"><img src="https://www.bookeo.com/buttons/book_en.png" alt="book now" border="0" style="margin:0;padding:0;"></a>
        .col-sm-4.text-center
          %a{href: "http://bookeo.com/catmosphere?type=233NUHWJA14FAF4552EC", target: "_blank"}
            = image_tag('kitten.jpg', class: 'img-responsive')
            %br
            %h4.text-center Coffee with the Kitten Cadets (Adoption Program)
          %p.text-center
            Sip on a hot drink of your choosing while cuddling with some of the fiercest adoptable kitten cadets the universe has ever seen!
            %br
            %br
            :plain
                <a href="http://bookeo.com/catmosphere?type=233NUHWJA14FAF4552EC" style="margin:0;padding:0;" target="_blank"><img src="https://www.bookeo.com/buttons/book_en.png" alt="book now" border="0" style="margin:0;padding:0;"></a>
          %br
        .col-sm-4.text-center
          %a{href: "mailto:sydney@catmospherecafe.com"}
            = image_tag('catparty.jpg', class: 'img-responsive')
            %br
            %h4.text-center Party with the cat-stronauts!
          %p.text-center
            Ready to ring in a new year of life, throw a cat-astic Hens or Bucks or celebrate business (with cats)? Book the Mothership or Space Acat-emy for a party. To book, email us at
            %a{href: "mailto:sydney@catmospherecafe.com", target: "_blank"} sydney@catmospherecafe.com.
      .row
        .col-sm-4.text-center
          = image_tag('sponsoracat.jpg', class: 'img-responsive')
          %br
          %h4.text-center Sponsor-a-Cat
          %p.text-center
            $30 a month buys food, litter, and vet care for 1 rescue cat, for 1 year.
            Includes 1 free visit a fortnight to play and meow to your sponsored space cat, plus regular email updates from your cat on how your sponsorship is brightening their busy catty days.
            %br
            :plain
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="D6HUKX8SGHMYW">
              <table>
              <tr><td><input type="hidden" name="on0" value="Sponsorship Options">Sponsorship Options</td></tr><tr><td><select name="os0">
                <option value="Monthly">Monthly : $30.00 AUD - monthly</option>
                <option value="Yearly">Yearly : $360.00 AUD - yearly</option>
              </select> </td></tr>
              </table>
              <input type="hidden" name="currency_code" value="AUD">
              <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
              </form>    
        .col-sm-4.text-center
          %a{href: "http://bookeo.com/catmosphere?type=233PAWFNL154FF48038E", target: "_blank"}
            = image_tag('catyoga.jpg', class: 'img-responsive')
            %br
            %h4.text-center Yoga with the Catstronauts
          %p.text-center
            City life stressing you out? Never fear, cat yoga is here! This special event consists of 45 mins of yoga followed by 15 mins of kitty cuddle time!
            %br
            %br
            :plain
                <a href="http://bookeo.com/catmosphere?type=233PAWFNL154FF48038E" style="margin:0;padding:0;" target="_top"><img src="https://www.bookeo.com/buttons/book_en.png" alt="book now" border="0" style="margin:0;padding:0"></a>
        .col-sm-4.text-center
          %a{href: "http://bookeo.com/go/233LXWHLP14C4EC0D17C/buyvoucher", target: "_blank"}
            = image_tag('trivia.jpg', class: 'img-responsive')
            %br
            %h4.text-center Gift Voucher
          %p.text-center
            Vouchers can be used to book a session at a later time. They make a perfect gift for cat-loving friends!
            %br
            %br
            :plain
                <a href="http://bookeo.com/go/233LXWHLP14C4EC0D17C/buyvoucher" style="margin:0;padding:0;" target="_top"><img src="https://www.bookeo.com/buttons/book_buyvoucher_en.png" alt="book now" border="0" style="margin:0;padding:0"></a>
//        .col-sm-3.text-center
//          = image_tag('t-shirts.jpg', class: 'img-responsive')
//          %br
//          %h4.text-center Space Cat Tees
//          %p.text-center
//            In case you can't be bothered to visit the café, you can still get awesome t-shirts and other space cat articles in our web shop.
//            %br
//            %br
//            :plain
//                <a href="http://shop.catmospherecafe.com/" style="margin:0;padding:0;" target="_blank"><img src="http://www.bookeo.com/buttons/book_buyvoucher_en.png" alt="buy now" border="0" style="margin:0;padding:0"></a>
//      %hr

