%section#press
  .white-background
    .container.press-section
      .row
        .col-xs-4.col-xs-offset-4.text-center
          %h2 SEEN ON:
          %br
      .row.text-center
        .col.col-xs-4.col-sm-3.vcenter
          %a{href: "http://www.goodfood.com.au/good-food/food-news/cat-cafe-to-open-in-sydney-20150306-13x354.html"}
            = image_tag('press/smh.jpg',  class: 'img-responsive')
        .col.col-xs-2.col-sm-1.vcenter
          %a{href: "http://www.theaureview.com/lifestyle/news/space-themed-cat-cafe-to-land-in-sydney-this-year/"}
            = image_tag('press/aureview.jpg', class: 'img-responsive')
        .col.col-xs-4.col-sm-2.vcenter
          %a{href: " http://www.acclaimmag.com/lifestyle/sydney-getting-interstellar-cat-cafe-reasons/"}
            = image_tag('press/acclaim.png',  class: 'img-responsive')      
        .col.col-xs-5.col-sm-3.vcenter
          %a{href: "http://www.broadsheet.com.au/sydney/food-and-drink/article/cat-cafe-opening-sydney"}
            = image_tag('press/broadsheet.png', class: 'img-responsive')
        .col.col-xs-5.col-sm-2.vcenter
          %a{href: "http://www.hospitalitymagazine.com.au/food/news/sydney-cat-cafe-created-by-marketing-startup"}
            = image_tag('press/hospitality.png', class: 'img-responsive')
      .row.text-center
        .col.col-xs-2.col-sm-2.vcenter
          %a{href: "http://www.mtv.com.au/travel/news/a-spacethemed-cat-cafe-is-coming-to-sydney-expect-catfights"}
            = image_tag('press/mtv.png', class: 'img-responsive')
        .col.col-xs-4.col-sm-3.vcenter
          %a{href: "https://www.pedestrian.tv/news/arts-and-culture/heres-what-you-need-to-know-about-sydneys-space-th/f28ff59b-7619-4cab-9fba-184f17334a31.htm"}
            = image_tag('press/pedesrtiantv.png',  class: 'img-responsive')
        .col.col-xs-4.col-sm-2.vcenter
          %a{href: "http://www.theurbanlist.com/sydney/a-list/attention-sydneys-getting-a-cat-cafe"}
            = image_tag('press/urbanlist.jpg', class: 'img-responsive')
        .col.col-xs-4.col-sm-2.vcenter
          %a{href: "http://www.thebrag.com/arts/sydneys-new-space-themed-cat-cafe-needs-your-help-make-liftoff"}
            = image_tag('press/thebrag.jpg', class: 'img-responsive')
        .col.col-xs-2.col-sm-2.vcenter
          %a{href: "http://www.au.timeout.com/sydney/restaurants/venues/7205/catmosphere-cafe"} 
            = image_tag('press/timeout.gif', class: 'img-responsive')
        %hr