= render partial: 'navbar'
= render partial: 'introduction'
= render partial: 'press'
= render partial: 'voucher'
= render partial: 'faq'
= render partial: 'mailing'
= render partial: 'location'
= render partial: 'pixel'