= render partial: 'shared/navbar'
= render partial: 'hero'
// = render partial: 'sponsor'
// = render partial: 'voucher'
= render partial: 'faq'
= render partial: 'press'
= render partial: 'mailing'
= render partial: 'location'
= render partial: 'pixel'