= render partial: 'shared/navbar'
= render partial: 'hero'
= render partial: 'about'
= render partial: 'booking'
// = render partial: 'sponsor'
= render partial: 'voucher'
= render partial: 'faq'
// = render partial: 'press'
= render partial: 'mailing'
= render partial: 'location'
= render partial: 'pixel'