%section#donate
  .donate-background
    .container
      .col-lg-8.col-lg-offset-2
        %h2.text-center Donate

        %p
          As a young Non-Profit Organisation working in a challenging environment, support
          is essential.
        %p
          We are very thankful by all financial and in-kind support by
          organisations (namely
          = succeed ',' do
            = link_to 'USFWS', 'http://www.fws.gov/', target: '_blank'
          = succeed ',' do
            = link_to 'APN', '#' 'http://www.african-parks.org/', target: '_blank'
          = succeed ',' do
            = link_to "ANPN", "http://www.parcsgabon.org/l-anpn/l-agence", target: '_blank'
          = succeed ', the' do
            = link_to "BASEhabitat", "http://www.basehabitat.ufg.ac.at", target: '_blank'
          = succeed ',' do
            = link_to "University of Fribourg", "http://www.unifr.ch/", target: '_blank'
          = succeed ', the' do
            = link_to "Panthera", "http://www.panthera.org/", target: '_blank'
          = succeed ' and' do
            Foundation for Wildlife Ecology Basel
          = succeed ')' do
            = link_to "CAWA", "http://www.cawasafari.com/", target: '_blank'
          and by the many passionate private supporters.

        %p.text-center
          %a.btn.btn-default.btn-lg{ href: 'mailto:donate@chinkoproject.com' }
            Donate Now!
        %p
          or contact our
          = succeed '.' do
            = link_to 'donor liaison team', 'mailto:donate@chinkoproject.com'
