%section#donate
  .white-background
    .container
      .col-lg-8.col-lg-offset-2
        %h2.text-center Donate

        - if notice
          = render partial: 'shared/notice', locals: { notice: notice }
        - if alert
          = render partial: 'shared/alert', locals: { alert: alert }

        %p
          As a young Non-Profit Organisation working in a challenging environment, support
          is essential.
        %p
          We are very thankful by all financial and in-kind support by
          organisations (namely
          = succeed ',' do
            = link_to 'USFWS', 'http://www.fws.gov/', target: '_blank'
          = succeed ',' do
            = link_to 'APN', '#' 'http://www.african-parks.org/', target: '_blank'
          = succeed ',' do
            = link_to "ANPN", "http://www.parcsgabon.org/l-anpn/l-agence", target: '_blank'
          = succeed ', the' do
            = link_to "BASEhabitat", "http://www.basehabitat.ufg.ac.at", target: '_blank'
          = succeed ',' do
            = link_to "University of Fribourg", "http://www.unifr.ch/", target: '_blank'
          = succeed ', the' do
            = link_to "Panthera", "http://www.panthera.org/", target: '_blank'
          = succeed ' and' do
            Foundation for Wildlife Ecology Basel
          = succeed ')' do
            = link_to "CAWA", "http://www.cawasafari.com/", target: '_blank'
          and by the many passionate private supporters.

    .container
      .row
        - donations.each_with_index do |donation, index|
          %div{ class: index==0 ? 'col-md-2 donation col-md-offset-2' : 'col-md-2 donation col-md-offset-1'}
            = image_tag('donations/'+ donation[:image], class: 'img-responsive')
            = form_tag donations_path do
              %input{ name: 'amount', value: donation[:data][:amount], type: 'hidden' }
              %script.stripe-button{data: donation[:data].merge({ key: Rails.configuration.stripe[:publishable_key] }), src: "https://checkout.stripe.com/checkout.js"}

    .container
      .col-lg-8.col-lg-offset-2
        %p.text-center
          or
          = succeed "." do
            %abbr> pledge a custom amount

      .col-lg-2.col-lg-offset-5.text-center
        = form_tag donations_path, class: 'form-inline custom-amount-form' do
          .input-group
            %span.input-group-addon $
            %input#custom-amount.form-control{type: "number", value: '150', name: 'amountCustom'}
            %span.input-group-addon .00
          %script.stripe-button{data: { key: Rails.configuration.stripe[:publishable_key], description: 'Chinko Project' }, src: "https://checkout.stripe.com/checkout.js"}
