%section#team.container.content-section
  .row
    .col-lg-8.col-lg-offset-2
      %h2.text-center Team

      - team.each do |group, members|
        %h3= group.to_s.titleize
        - members.each do |member|
          .row
            .col-lg-2
              = image_tag('team/' + member[:image])
            .col-lg-10
              %h4
                = member[:name]
                %small
                  = member[:title]
              = simple_format member[:cv]
