
= render partial: 'hero'

= render partial: 'introduction'

= render partial: 'area'
= render partial: 'people'
= render partial: 'wildlife'
= render partial: 'threats'

= render partial: 'team'
= render partial: 'donate'
= render partial: 'contact'
