= render partial: 'navbar'
= render partial: 'hero'

= render partial: 'introduction'
= render partial: 'shop'
= render partial: 'shared/ribbon'

:javascript
  $(function() {
    $('.page-scroll a, a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        var scrollTop = $($anchor.attr('href')).offset().top;
        if ($($anchor).data('has-parallax') == "") {
           scrollTop = scrollTop - ($(window).height() * 0.5);
        }
        $('html, body').stop().animate({
            scrollTop: scrollTop
        }, 1500, 'easeInOutExpo');
        event.preventDefault();
    });
  });